---
# tasks file for base
- name: Update the server
  apt:
    update_cache: yes
    upgrade: yes
    cache_valid_time: 3600

- name: Install essential utilities
  apt:
    name:
      - vim
      - git
      - curl
    state: present

- name: Install fail2ban
  apt:
    name: fail2ban
    state: present

- name: Ensure fail2ban is running
  service:
    name: fail2ban
    state: started
    enabled: yes
